@media (max-width: 1820px){
    .card-content{
        width: 1342px;
    }
    .card__sub__title{
        font-size: 18px;
    }
}
@media (max-width: 1640px){
    .card-content{
        width: 1124px;
    }
    .card__sub__title{
        font-size: 17px;
    }
}
@media (max-width: 1480px){
    .header{
        width: 10%;
        background-color: #1E1E25;
    }
    .item_nav{
        font-size: 16px;
        letter-spacing: 6%;
    }
    .main{
        width: 90%;
        height: 100%;
    }
    .title{
        font-size: 18px;
    }
    .card-image{
        width: 120px;
        height: 180px;
        border-radius: 16px 4px;
    }
    .card-content{
        width: 1240px;
        min-height: 180px;
    }
    .status_icon{
        width: 15px;
        height: 15px;
    }
    .status_bar{
        width: 90px;
        height: 15px;
        border-radius: 6px 0px;
    }
    .card__sub__title{
        font-size: 16px;
    }
    .status_bar>p{
        font-size: 16px;
    }
}
@media (max-width: 1240px){
    .header{
        width: 8%;
        background-color: #1E1E25;
    }
    .item_nav{
        font-size: 14px;
        letter-spacing: 4%;
    }
    .main{
        width: 92%;
        height: 100%;
    }
    .title{
        font-size: 16px;
    }
    .card-image{
        width: 102px;
        height: 153px;
        border-radius: 14px 4px;
    }
    .card-content{
        width: 1024px;
        min-height: 153px;
    }
    .status_icon{
        width: 12px;
        height: 12px;
    }
    .status_bar{
        width: 76px;
        height: 12px;
        border-radius: 6px 0px;
    }
    .card__sub__title{
        font-size: 12px;
    }
    .status_bar>p{
        font-size: 12px;
    }
}
@media (max-width: 1024px){
    .title{
        font-size: 14px;
    }
    .card-image{
        width: 92px;
        height: 137px;
        border-radius: 12px 2px;
    }
    .card-content{
        width: 864px;
        min-height: 153px;
    }
    .status_icon{
        width: 12px;
        height: 12px;
    }
    .status_bar{
        width: 76px;
        height: 12px;
        border-radius: 4px 0px;
    }
    .card__sub__title{
        font-size: 10px;
    }
    .status_bar>p{
        font-size: 10px;
    }
}